@import "https://fonts.googleapis.com/css?family=Lato:400,700";
@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  background-color: #343d4b;
  color: rgb(31, 31, 31);
  -moz-osx-font-smoothing: grayscale; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased; /*(For Chrome and Safari)*/
}

.container {
  width: 90%;
  height: auto;
  padding: 0.5rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  text-align: center;
}

.form__input {
  padding: 0.7rem;
  width: 70%;
}

.form__button {
  padding: 0.5em;
  font-size: 1rem;
}

/* ------------- Card ------------- */

.card__container {
  background-image: url("https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  background-color: rgb(61, 61, 61);
  color: #eee;
  font-size: 2rem;
  border-radius: 20px;
  position: relative;
  height: 100%;
  z-index: 1;
  padding: 2rem;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.card__container:hover {
  -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
  transform: scale(1.03);
}
.card__gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: var(--gradient);
  border-radius: 20px;
  opacity: 0.8;
  z-index: -1;
}

.card__temp {
  font-size: 4rem;
  font-weight: bold;
}
.card__descriptions {
  font-weight: bold;
}
.card__date {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.card__map {
  display: flex;
  margin: auto;
  font-size: 1.5rem;
  padding-bottom: 5rem;
  justify-content: center;
  z-index: 1;
}

.card__map img {
  padding-right: 0.7rem;
}

/* ------------- output ------------- */

.output {
  background-color: #222831;
  color: #ffffff;

  border-radius: 20px;
  padding: 4rem 1rem 2rem 1rem;
  position: relative;
  top: -40px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.output * {
  padding-bottom: 1rem;
}
