@import "https://fonts.googleapis.com/css?family=Lato:400,700";
@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  --gradient2: linear-gradient(-100deg, #72eef2b5 5%, #5151e5 100%);
  --gradient3: linear-gradient(90deg, #222831 65%, #ffffff 10%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
body {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  background-color: #343d4b;
  color: #ffffff;
  -moz-osx-font-smoothing: grayscale; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased; /*(For Chrome and Safari)*/
}

.container {
  width: auto;
  height: auto;
  padding: 0.5rem;
  margin: 2rem auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border: 1px solid brown;
}

/* ------------- Card ------------- */

.card__container {
  background-image: url("https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  /* background-image: url(img/02d.svg); */
  max-width: 400px;
  background-color: rgb(61, 61, 61);
  background-size: cover;
  font-size: 2rem;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  padding: 2rem;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.264);
}

.card__container:hover {
  -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
  transform: scale(1.03);
}
.card__gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: var(--gradient);
  border-radius: 20px;
  opacity: 0.8;
  z-index: -1;
}

.card__temp {
  font-size: 4rem;
  font-weight: bold;
}
.card__descriptions {
  font-weight: bold;
}
.card__date {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-weight: bold;
}
.card__map {
  display: flex;
  margin: auto;
  font-size: 1.5rem;
  padding-bottom: 5rem;
  justify-content: center;
  align-items: baseline;
}

.card__map img {
  margin-right: 1rem;
}
/* .card__icon img {
  width: 100px;
  height: 100px;
} */
/* ------------- forcast ------------- */
.forcast {
  max-width: 400px;
  display: none;
  flex-direction: row;
  background-color: #222831;
  padding: 4.5rem 1rem 0rem 1rem;
  border-radius: 20px;
  top: -40px;
  position: relative;
  text-align: start;
  font-size: 1.3rem;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.264);
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.forcast div {
  padding-bottom: 1rem;
}

.forcast__lable {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
  width: 50%;
}

.forcast__value {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: end;
  font-weight: 100;
}

.forcast__3days {
  width: 100%;
}

.forcast__day {
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
  height: 80px;
  border-radius: 20px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}

.day1_date,
.day3_date,
.day2_date {
  flex-basis: 100px;
}
.forcast__day:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.forcast__day img {
  flex-basis: 100px;
  left: -15px;
  position: relative;
}

/* ------------- input ------------- */
.forcast__form {
  display: flex;
  margin-bottom: 3rem;
}

.form__input {
  width: 350px;
  padding: 11.9px;
  border: 1px rgba(168, 168, 168, 0.264) solid;
  box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.264);
  outline: none;
  border-radius: 15px;
}

.form__button {
  color: inherit;
  position: absolute;
  padding: 11px;
  right: 32px;
  width: 100px;
  border: 0px;
  border-radius: 15px;
  font-size: 1rem;
  /* box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.264); */
  background-image: var(--gradient2);
  cursor: pointer;
}

@media only screen and (min-width: 500px) {
  .container {
    align-items: center;
  }
}
@media only screen and (min-width: 1000px) {
  .container {
    flex-direction: row;
    margin-top: 6rem;
    width: 900px;
    align-items: stretch;
  }
  .forcast {
    top: 0px;
    padding: 2rem;
    max-width: 450px;
  }
}
